*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1100px;
}
.title{
    color: rgb(21, 96, 145);
    font-size: large;

    margin-bottom: 20px;
}
.content{
    margin-bottom: 20px;
}
.ex{
    border-left: 5px solid rgb(225, 201, 78);
    background-color: rgb(255, 250, 239);
}
.ex p {
    margin: 20px 20px;
}