.bd{
    width: 100%;
    font-family: sans-serif;
}
.img{
    display: inline-block;
}
.content{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-left: 15px;
}
.title {
    font-size: 24px;
    font-weight: bold;
  }
.time{
    color: rgb(119, 119, 119);
    font-weight: 200;
}
.review{
    color: rgb(100, 100, 100)
}